.card-head{
    /* max-width: 160px;
    max-height: 70px; */
    /* padding: 10px; */
    /* background-color: #4E73DF; */
    /* background-image: linear-gradient(to right top, #4e73df, #4a81e4, #4b8ee7, #529ae8, #5ea6e9); */
    background-image: linear-gradient(to right top, #4e73df, #4d84e5, #5394e9, #5fa3ec, #70b1ed);
    color: #FFF;
    position: absolute;
    top: -15px;
    left: 15px;
    border-radius: 5px;
    /* line-height:2px; */

}
.card{
    position: relative; 
}